@using Sitecore.Data.Items
@using Sitecore.Data
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model EvolvoBestPractice.Models.TestimonialDetails


<div class="image-container">
    <img class="img-fluid" src="@Model.Image()" alt="alternative">
</div> <!-- end of image-container -->